*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* .nav-link > ul > li{
    list-style: none;
}

.nav-link > ul > li > a{
    text-decoration: none;
} */

body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav{
    background: #0082e6;
    height: 80px;
    width: 100%;
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    font-weight: bolder;
    padding: 0 100px;
}

.nav-link ul{
    float: right;
    /* margin-right: 20px; */
}

/* nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
} */

.container{
    width: 80%;
    margin: 0 auto;
}